.vscode/**
.vscode-test/**
src/**
out/**/*.map
.git/**
.github/**
.gitignore
.vscodeignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/__pycache__/**
**/*.pyc
**/*.pyo
node_modules/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/minimatch/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
